Platform = NES;

DISPLAY_width = 256;
DISPLAY_height = 240;
DISPLAY_scale = 2;

CPU_frequency = 1789773;
CPU_shouldCacheInstructions = false;

DEBUG_shouldDisplayPerformance = true;
DEBUG_shouldDisplayDebugScreen = true;
DEBUG_shouldTraceInstructions = false;
DEBUG_shouldLimitFrequency = true;
DEBUG_shouldDebugCPU = false;